.section {
  /* Одинаковые верхние и нижние паддинги всех секций*/
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    /* Одинаковые верхние и нижние паддинги всех секций*/
    padding-top: 94px;
    padding-bottom: 94px;

    &:nth-child(3) {
      display: block;
      padding-top: 0;
    }
  }
}
