.footer__follow {
  flex-basis: 206px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    margin-left: 70px;
  }
}

.footer__list-social {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.footer__link-social {
  display: block;

  padding: 12px;

  text-align: center;

  text-decoration: none;
  background-color: #44454e;
  border-radius: 50%;

  transition-property: background-color;
  @extend %transition;

  &:hover {
    background-color: var(--accent-color);
    .footer__icon {
      fill: var(--accent-font-color);
    }
  }

  &:focus {
    background-color: var(--accent-color);
    .footer__icon {
      fill: var(--accent-font-color);
    }
  }
}

.footer__icon {
  display: block;
  width: 20px;
  height: 20px;

  fill: var(--accent-font-color);
}
