.contact__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column-reverse;

    margin-left: 82px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}

.contact__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-top: 302px;
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:first-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:first-child) {
      margin-right: 30px;
    }
  }
}

/* Флексбокс для иконок контактов */

.contact__box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.contact__icon-box {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contact__link {
  @media screen and (max-width: 767px) {
    display: inline-block;

    &[href*='tel'] {
      font-weight: 500;
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;

      color: var(--accent-color);
    }

    &[href*='mailto'] {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;

      color: inherit;
    }
  }

  @media screen and (min-width: 768px) {
    display: block;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    &:hover {
      color: var(--accent-color);
    }
    &:focus {
      color: var(--accent-color);
    }
  }

  @media screen and (min-width: 1200px) {
    display: block;
    /* Паддингами увеличиваем область действия нажатия ссылки */
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:hover {
      color: var(--accent-color);
    }
    &:focus {
      color: var(--accent-color);
    }
  }

  color: inherit;

  transition-property: color;
  @extend %transition;
}

.contact__icon-email {
  display: block;
  margin-right: 10px;

  width: 16px;
  height: 12px;

  fill: var(--main-font-color);

  transition-property: fill;
  @extend %transition;
}

.contact__icon-phone {
  display: block;
  margin-right: 10px;

  width: 10px;
  height: 16px;

  fill: var(--main-font-color);

  transition-property: fill;
  @extend %transition;
}

.contact__link {
  &:hover {
    .contact__icon-email {
      fill: var(--accent-color);
    }
    .contact__icon-phone {
      fill: var(--accent-color);
    }
  }

  &:focus {
    .contact__icon-email {
      fill: var(--accent-color);
    }
    .contact__icon-phone {
      fill: var(--accent-color);
    }
  }
}
