.clients__title {
  display: block;
  margin-bottom: 50px;

  font-size: 28px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-font-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients__item {
  @media screen and (max-width: 479px) {
    display: block;

    max-width: calc((100% - 1 * var(--main-margin)) / 2);

    &:not(:nth-child(2n)) {
      margin-right: var(--main-margin);
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: var(--main-margin);
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: block;

    width: calc((100% - 1 * var(--main-margin)) / 2);

    &:not(:nth-child(2n)) {
      margin-right: var(--main-margin);
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: var(--main-margin);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;

    width: calc((100% - 2 * var(--main-margin)) / 3);

    &:not(:nth-child(3n)) {
      margin-right: var(--main-margin);
    }

    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: var(--main-margin);
    }
  }

  @media screen and (min-width: 1200px) {
    display: block;

    width: calc((100% - 5 * var(--main-margin)) / 6);

    &:not(:last-child) {
      margin-right: var(--main-margin);
    }
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 479px) {
    width: 140px;
    height: 92px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 210px;
    height: 92px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }

  border: 1px solid var(--noactive-icon-color);
  border-radius: 4px;

  transition-property: border-color;
  @extend %transition;

  &:hover {
    border-color: var(--accent-color);
    .clients__icon {
      fill: var(--accent-color);
    }
  }

  &:focus {
    border-color: var(--accent-color);
    .clients__icon {
      fill: var(--accent-color);
    }
  }
}

.clients__icon {
  width: 106px;
  height: 60px;

  fill: var(--noactive-icon-color);

  transition-property: fill;
  @extend %transition;
}
